{% extends 'layout.twig' %}

{% block body %}
  <p>Bienvenue sur BCDi {{user.prenom}} {{user.nom}}</p>
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/livres/bibliotheque.jpg" class="d-block w-100" alt="livre1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Consulter tous les livres de la Bibliotheque</h5>
        <p>Vous pouvez emprunter de nombreux livres</p>
        <a href="/livres" class="btn btn-primary">Consulter la Bibliotheque</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/livres/Institut-francais.png" class="d-block w-100" alt="livre1">
      <div class="carousel-caption d-none d-md-block">
        <h5>BCDi</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/livres/villa.jpg" class="d-block w-100" alt="livre1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sur le site web de l'Institut</h5>
        <p>Inscrivez-vous aux cours de langue de l'institut</p>

        <!-- Button Trigger Modal --!>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Acceder au site web
        </button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Modal --!>
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acces au site web</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous acceder au site web de l'institut francais du Qatar ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="https://if-qatar.com/" class="btn btn-primary">Oui</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
